<section class="container container_full" id="faq_search">
	<div class="faq_search">
		<form method="GET" action="<%=VIEW_URL.replace('/search','')%>/search/1">
			<legend class="blind">FAQ 검색</legend>
			<h2 class="title">FAQ 검색</h2>
			<table class="faq_search">
				<tr>
					<td class="title">FAQ 검색</td>
					<td>
						<input type="search" placeholder="검색어를 입력해 주세요." value="<%=result.searchQuery%>" name="q"/>
					</td>
					<td class="submit_wrap">
						<button type="submit"><i>검색</i></button>
					</td>
				</tr>
			</table>
<!-- 			<div class="top_search">
				<span class="title"><i>[인기 검색어]</i></span>
				<ul>
					<li><a href="<%=VIEW_URL.replace('/search','')%>/search/1?q=랜섬웨어">랜섬웨어</a></li>
					<li><a href="<%=VIEW_URL.replace('/search','')%>/search/1?q=알약">알약</a></li>
					<li><a href="<%=VIEW_URL.replace('/search','')%>/search/1?q=시큐어디스크">시큐어디스크</a></li>
					<li><a href="<%=VIEW_URL.replace('/search','')%>/search/1?q=구매문의">구매문의</a></li>
				</ul>
			</div> -->
		</form>
	</div>
</section>