<% include ../../../include/header.ejs %>
<% var VIEW_URL = "/support/faq/company"; %>


<section class="bg_sub_2 bg_customer">
	<div>
		<h2>FAQ</h2>
		<strong>기업고객</strong>
	</div>
</section>

<section class="container">
	<ul class="breadcrumb">
		<li><a href="/">Home</a><i>&#62;</i></li>
		<li><a href="/support/faq/individual/1">고객지원</a><i>&#62;</i></li>
		<li><a href="/support/faq/individual/1">FAQ</a><i>&#62;</i></li>
		<li>기업고객</li>
	</ul>
</section>

<% include ../include/search.ejs %>
<section class="container" id="top5">
	<div class="col-md-8">
	<h2 class="tit_2">기업고객 질문 TOP 5</h2>
		<ul class="accordion">
        <% for(var key in top5Result.data) { %>
          <% if(key == "contains") continue; %>
          <li>
              <a href="#"><%=top5Result.data[key].title%><i><span class="ico ico_open">열린 메뉴</span></i></a>
              <div><%-top5Result.data[key].content%></div>
          </li>
        <%  } %>

		</ul>
	</div>
	<div class="col-md-4">
		<a href="/product/securedisk"><img src="/images/bn_faq_2.png" alt="차세대 문서 보안의 표준 시큐어 디스크"/></a>
		<div id="faq_top" style="padding:0;margin:0;"></div>
	</div>
</section>

<section class="container" id="section_1">
	<h2 class="tit_2">기업고객 FAQ</h2>
	<div class="tab_wrap tab_wrap_1">
		<ul class="tab">
			<li><a href="<%=VIEW_URL%>/1#faq_top">ALL</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('제품별문의')%>#faq_top">제품별문의</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('악성코드문의')%>#faq_top">악성코드문의</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('구매문의')%>#faq_top">구매문의</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('라이선스')%>#faq_top">라이선스</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('전용백신')%>#faq_top">전용백신</a></li>
			<li><a href="<%=VIEW_URL%>/1?category=<%=encodeURI('기타')%>#faq_top">기타</a></li>
		</ul>
	</div>

	<div class="tab_mobile">
		<select name="urlLink2" id="urlLink2">
			<option value="<%=VIEW_URL%>/1">ALL</option>
			<option value="<%=VIEW_URL%>/1?category=제품별문의">제품별문의</option>
			<option value="<%=VIEW_URL%>/1?category=악성코드문의">악성코드문의</option>
			<option value="<%=VIEW_URL%>/1?category=구매문의">구매문의</option>
			<option value="<%=VIEW_URL%>/1?category=라이선스">라이선스</option>
			<option value="<%=VIEW_URL%>/1?category=전용백신">전용백신</option>
			<option value="<%=VIEW_URL%>/1?category=기타">기타</option>
		</select>

	</div>
	<% include ../include/list.ejs %>
</section>

<% include ./consultingFooter.ejs %>
<% include ../../../include/footer.ejs %>
