<% include include/header.ejs %>
	<div class="container game_start">
	<% if (user) { %>
		<div class="status">
			<h1><%= user.map %></h1>
			<ul>
				<li>현재 위치 : <%= user.place %></li>
				<li>닉네임 : <%= user.user_nick %></li>
				<li>레벨 : <%= user.lv %></li>
				<li>체력 : <%= user.hp %>/<%= user.max_hp %></li>
			</ul>
			<a href="/logout" class="btn">로그아웃</a><br />
			
		</div>
	<% } else { %>
		<script>location.href = "/login";</script>
	<% } %>
    </div>
    <script>
	</script>
<% include include/footer.ejs %>