<% include include/header.ejs %>
	<div class="container game">
	<% if (user) { %>
		<div class="status">
			<a href="/logout" class="btn">로그아웃</a>
			<h1><%= user.map %></h1>
			<ul>
				<li>현재 위치 : <%= user.place %></li>
				<li>닉네임 : <%= user.user_nick %></li>
				<li>레벨 : <%= user.lv %></li>
				<li>생명력 : <%= user.hp %>/<%= user.max_hp %></li>
				<li>파워 : <span class="pw"><%= user.pw %></span>/<%= user.max_pw %></li>
			</ul>
			<h2>이동하기</h2>
			<form action="/moveForm" method="post">
				<ul class="place">
					<li><input type="button" readonly="readonly" value="안전 지대" /></li>
					<li><input type="button" readonly="readonly" value="헤이븐" /></li>
					<li><input type="button" readonly="readonly" value="오금" /></li>
					<li><input type="button" readonly="readonly" value="분당" /></li>
					<li><input type="button" readonly="readonly" value="을지로" /></li>
				</ul>
				<input type="hidden" name="moveValue" id="hidden" value="" />
			</form>
		</div>
	<% } else { %>
		<script>location.href = "/login";</script>
	<% } %>
    </div>
    <script>
    	$(function() {
			$(".place input").click(function() {
				$("form #hidden").val($(this).context.value);
    			$("form").submit();
			});
		});
	</script>
<% include include/footer.ejs %>