<div class="paginate">
    <a href="<%=VIEW_URL%>/1" class="first"><i>처음</i></a>
    <a href="<%=VIEW_URL%>/<%=result.nowPage == 0 ? 1 :  (result.nowPage - 1) == 0 ? 1 : (result.nowPage - 1) %>" class="pre"><i>이전</i></a>
    <% var MAX_PAGE_SIZE = 5; %>
    
    <% if(result.pageSize == 0 || result.pageSize == null || result.pageSize == undefined) { %>
        <% MAX_PAGE_SIZE = 0; %>
        <span>1</span>
    <% } %>
    <% if(Number(result.pageSize) < MAX_PAGE_SIZE) { %>
        <% MAX_PAGE_SIZE = MAX_PAGE_SIZE - result.pageSize; %>
    <% } %>
    <% var count = 0; %>
    <% for(var i=(result.nowPage - 2); i<=(Number(result.nowPage) + MAX_PAGE_SIZE); i++){%>
        <% if(i > result.pageSize || count >= 5 || i <= 0  ) { continue } %>
        <% count++; %>


        <% if(result.nowPage != i) {  %>
            <a href="<%=VIEW_URL%>/<%=i%>"><%=i%></a>
        <% }else { %>
            <span><%=i%></span>
        <% } %>
    <% } %>
    <a href="<%=VIEW_URL%>/<%=result.nowPage == result.pageSize ?  result.pageSize : Number(result.nowPage) + 1 %>" class="next"><i>다음</i></a>
    <a href="<%=VIEW_URL%>/<%=result.pageSize%>" class="last"><i>끝</i></a>
</div>
