<% var VIEW_URL = "/securityCenter/dbupdate/" + engineType; %>
<% include ../include/header.ejs %>
<%
    function formatnumber(v1,v2){  
        var str = new Array();   
        v1 = String(v1);   
        for(var i=1;i<=v1.length;i++){   
            if(i % v2) str[v1.length-i] = v1.charAt(v1.length-i);   
            else str[v1.length-i] = ','+v1.charAt(v1.length-i);   
        }  
        return str.join('').replace(/^,/,'');   
    }
%>
<section class="bg_sub_2 bg_securitycenter">
    <div>
        <h2>보안정보</h2>
        <strong>DB업데이트 정보</strong>
        <p>매일 업데이트 되는 알약엔진의 상세 내역을 확인하실 수 있습니다.</p>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/securityCenter/news/1">보안센터</a><i>&#62;</i></li>
        <li><a href="/securityCenter/commonSense/1">보안정보</a><i>&#62;</i></li>
        <li>DB업데이트 정보</li>
    </ul>
</section>
<section class="container">
    <div class="db_notice">
        <p id="loading"><img src="/images/view_loading.gif"></p>
        <p id="updateResult" style="display:none"><img src="/images/icon_mlp.png" alt=""/><span id="update_date"></span>일 총 업데이트 <span id="update_count"></span>개</p>
    </div>
    <div class="tab_wrap tab_wrap_1">
        <ul class="tab">
            <li class="<%=engineType == 'BIT' ? 'active' : '' %>"><a href="/securityCenter/dbupdate/BIT/1">비트디펜더 엔진</a></li>
            <li class="<%=engineType == 'TERA' ? 'active' : '' %>"><a href="/securityCenter/dbupdate/TERA/1">테라 엔진</a></li>
        </ul>
    </div>

    <div class="tab_mobile">
        <select name="urlLink2" id="urlLink2">
            <option value="/securityCenter/dbupdate/BIT/1">비트디펜더 엔진</option>
            <option value="/securityCenter/dbupdate/TERA/1">테라 엔진</option>
        </select>
    </div>

    <div class="center_list_db">
        <h3>DB업데이트 정보</h3>
        <ul class="accordion">
            <% for(var key in result.data)  { %>
                <% if(key == "contains") continue; %>
                <li>
                    <span class="col-md-2"><%=moment(result.data[key].date).format("YYYY년 MM월 DD일")%></span>
                    <span class="col-md-9">총 <%=formatnumber(String(result.data[key].content).split("\n").length , 3)%>개 업데이트</span>
                    <span class="col-md-1"><i><span class="ico ico_open">열린 메뉴</span></i></span>
                    <div class="col-md-12">
                        <%-String(result.data[key].content).replace(new RegExp('\r?\n','g'), '<br />')%>
                    </div>
                </li>
            <% }  %>
        </ul>
        <% include ./board/pagination.ejs %>
    </div>
</section>


<% include ../include/footer.ejs %>
<script>

function formatnumber(v1,v2){  
    var str = new Array();   
    v1 = String(v1);   
    for(var i=1;i<=v1.length;i++){   
        if(i % v2) str[v1.length-i] = v1.charAt(v1.length-i);   
        else str[v1.length-i] = ','+v1.charAt(v1.length-i);   
    }  
    return str.join('').replace(/^,/,'');   
}  



$.get('/securityCenter/dbupdate/last',function(result,err){
    if(err != "success"){
        return false;
    }
    var dateSplit = result.date.split("-");
    $("#loading").hide();
    $("#updateResult").show();
    $("#update_date").text(dateSplit[0] + "년 " + dateSplit[1] + "월 " + dateSplit[2] + "");
    $("#update_count").text(formatnumber(parseInt(result.count),3));
});

setMobileSelectActive();
</script>
