<% var VIEW_URL = "/securityCenter/report"; %>
<% include ../include/header.ejs %>

<section class="bg_sub_2 bg_securitycenter">
    <div>
        <h2>보안자료</h2>
        <strong>보안동향 보고서</strong>
        <p>최신 악성코드 통계와 보안 이슈, 해외 보안 동향을 신속하게 확인하세요!</p>
    </div>
</section>
<section class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a><i>&#62;</i></li>
        <li><a href="/securityCenter/news/1">보안센터</a><i>&#62;</i></li>
        <li><a href="/securityCenter/newsletter/1">보안자료</a><i>&#62;</i></li>
        <li>보안동향 보고서</li>
    </ul>
</section>

<section class="container">
    <div class="center_list_report_prev">
        <ul>
            <% for(var key in result.data){ %>
                <% if(key == "contains") continue; %>

                <li>
                    <div class="col-md-9"><%=result.data[key].title%></div>
                    <div class="col-md-3"><a href="<%=result.data[key].content%>">PDF 파일 다운로드</a></div>
                </li>

            <% } %>

        
        </ul>
        <% include ./board/pagination.ejs %>

    </div>
</section>


<!-- 
<section class="container">
    <div class="center_list_report">
        <ul class="accordion_view">
            <% for(var key in result.data){ %>
                <% if(key == "contains") continue; %>
                <li>
                    <a href="#n">
                        <span class="col-md-11"><%=result.data[key].title%></span>
                        <span class="col-md-1"><i><span class="ico ico_open">열린 메뉴</span></i></span>
                    </a>
                    <div class="col-md-12">
                        <div class="img"><a href="#n" target="_blank"><img src="<%=result.data[key].thumbnail_img%>" alt="" /></a></div>
                        <div class="btn">
                            <a href="<%=result.data[key].content%>">PDF 파일 다운로드</a>
                            <a href="#n" class="btn_prev">이전 보안동향 보고서</a>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
        <% include ./board/pagination.ejs %>

    </div>
</section> -->

<% include ../include/footer.ejs%>
